body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666;
	background-color: #3a0851;
}
p {
	line-height: 2.25em;
}
td {
	text-align: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}
.general-width {
	width: 1000px;
}
.secondary-nav {
	width: 300px;
}
.secondary-nav li {
	list-style-type: none;
}

table {
	background-color: #FFF;
	border-collapse:collapse;
}
.imagerap {
	float: left;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 10px;
	background-color: #666;
	border: 10px double #003366;
}
.contentstuff {
	padding-right: 20px;
	padding-left: 20px;
}
.primarynav a {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
	float: left;
	margin-right: 60px;
	margin-left: 5px;
	background-color: #873a2a;
	color: #FFF;
	text-decoration: none;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-radius: 10px;
}
.primarynav a:hover {
	background-color: #154063;
}
